<div style="background-color: #424449; padding: 30px; text-align: center; font-size: 36px; font-weight: bold;">
  <span style="color: #caccd1;">5. Classificação dos Clusters</span>
</div>

In [1]:
# Configurações de visualização
%matplotlib inline
%config inlineBackend.figure_formats = ['svg']
# Importação das Bibliotecas
import pandas as pd
import numpy as np
import statistics as sts

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import (RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier)
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
import lightgbm as ltb
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import KFold, cross_val_score
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_predict
from IPython.display import display


import warnings
warnings.filterwarnings('ignore')
# Configurações de visualização do dataset
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 90)

In [2]:
df_kme = pd.read_csv('df_kme.csv')

In [3]:
df_kme.head()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,cluster
0,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12,2
1,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12,2
2,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12,0
3,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,312.452292,0.000000,12,2
4,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12,2

In [4]:
df_kme.describe()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,cluster
count,8949.000000,8949.000000,8949.000000,8949.000000,8949.000000,8949.000000,8949.000000,8949.000000,8949.000000,8949.000000,8949.000000,8949.000000,8949.000000,8949.000000,8949.000000,8949.000000,8949.000000,8949.000000
mean,1564.647593,0.877350,1003.316936,592.503572,411.113579,978.959616,0.490405,0.202480,0.364478,0.135141,3.249078,14.711476,4494.449450,1733.336511,845.003358,0.153732,11.517935,1.300369
std,2081.584016,0.236798,2136.727848,1659.968851,904.378205,2097.264344,0.401360,0.298345,0.397451,0.200132,6.824987,24.858552,3638.815725,2895.168146,2332.905284,0.292511,1.337134,0.762953
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,0.000000,0.019163,0.000000,6.000000,0.000000
25%,128.365782,0.888889,39.800000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,1.000000,1600.000000,383.282850,170.875613,0.000000,12.000000,1.000000
50%,873.680279,1.000000,361.490000,38.000000,89.000000,0.000000,0.500000,0.083333,0.166667,0.000000,0.000000,7.000000,3000.000000,857.062706,312.452292,0.000000,12.000000,1.000000
75%,2054.372848,1.000000,1110.170000,577.830000,468.650000,1113.868654,0.916667,0.300000,0.750000,0.222222,4.000000,17.000000,6500.000000,1901.279320,788.721609,0.142857,12.000000,2.000000
max,19043.138560,1.000000,49039.570000,40761.250000,22500.000000,47137.211760,1.000000,1.000000,1.000000,1.500000,123.000000,358.000000,30000.000000,50721.483360,76406.207520,1.000000,12.000000,2.000000

In [5]:
# Separação das variáveis preditoras da variável alvo
X = df_kme.drop(columns='cluster') 
Y = df_kme['cluster']

In [6]:
# Divisão do Dataset em treino e test
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=18)

In [7]:
# Função para avaliar diversos modelos
def avaliar_modelos(X_train, y_train, num_folds=10, random_state=18):
    # Lista de modelos
    modelos = []
    modelos.append(('KNeighborsClassifier', KNeighborsClassifier()))
    modelos.append(('SVC', SVC(random_state=18)))
    modelos.append(('LogisticRegression', LogisticRegression(random_state=18)))
    modelos.append(('GaussianNB', GaussianNB()))
    modelos.append(('LinearDiscriminantAnalysis', LinearDiscriminantAnalysis()))
    modelos.append(('DecisionTreeClassifier', DecisionTreeClassifier(random_state=18)))
    modelos.append(('RandomForestClassifier', RandomForestClassifier(random_state=18)))
    modelos.append(('XGBClassifier', XGBClassifier(random_state=18)))
    modelos.append(('LGBMClassifier', ltb.LGBMClassifier(random_state=18)))
    modelos.append(('AdaBoostClassifier', AdaBoostClassifier(random_state=18)))
    modelos.append(('GradientBoostingClassifier', GradientBoostingClassifier(random_state=18)))

    nomes = []
    resultados = []
    resultados_mean = []
    resultados_std = []

    # Avaliando cada modelo em um loop
    for nome, modelo in modelos:
        kfold = KFold(n_splits=num_folds, random_state=random_state, shuffle=True)
        cv_results = cross_val_score(modelo, X_train, y_train, cv=kfold, scoring='accuracy')
        resultados.append(cv_results)
        resultados_mean.append(cv_results.mean() * 100)
        resultados_std.append(cv_results.std() * 100)
        nomes.append(nome)

    # Resultados
    model_result = pd.DataFrame({
        'Modelo': nomes,
        'Mean': resultados_mean,
        'STD': resultados_std})

    model_result.sort_values('Mean', ascending=False, inplace=True)

    return model_result

In [8]:
# Aplicar a função
avaliar_modelos(X_train, y_train)

                        Modelo       Mean       STD
8               LGBMClassifier  99.203832  0.336592
10  GradientBoostingClassifier  99.175880  0.315059
7                XGBClassifier  99.147927  0.289273
5       DecisionTreeClassifier  98.631129  0.340850
6       RandomForestClassifier  98.617221  0.392136
4   LinearDiscriminantAnalysis  96.326347  0.518731
9           AdaBoostClassifier  95.893405  1.514568
3                   GaussianNB  92.247607  0.728219
2           LogisticRegression  86.101438  1.253958
1                          SVC  80.737196  1.649202
0         KNeighborsClassifier  77.971383  2.196898

In [9]:
# Avaliação com outras métricas

# Definindo os valores para o número de folds 
num_folds = 10
random_state = 18

# Lista de modelos
modelos = [
            KNeighborsClassifier(),
            SVC(random_state=18),
            LogisticRegression(random_state=18),
            GaussianNB(),
            LinearDiscriminantAnalysis(),
            DecisionTreeClassifier(random_state=18),
            RandomForestClassifier(random_state=18),
            XGBClassifier(random_state=18),
            ltb.LGBMClassifier(random_state=18),
            AdaBoostClassifier(random_state=18),
            GradientBoostingClassifier(random_state=18),
]

# Avaliando cada modelo em um loop
for modelo in modelos:
    kfold = KFold(n_splits=num_folds, random_state=random_state, shuffle=True)
    y_pred = cross_val_predict(modelo, X_train, y_train)
    cm = confusion_matrix(y_train, y_pred)
    cr = classification_report(y_train, y_pred)
    
    print(modelo)
    print('\n')
    display(pd.DataFrame(cm, columns=['0', '1', '2'], index=['0', '1', '2']))
    print('\n')
    print('Classification Report:')
    print('\n')
    display(pd.DataFrame.from_dict(classification_report(y_train, y_pred, output_dict=True)).transpose())
    print('_____________________________________________________\n')

KNeighborsClassifier()

     0     1     2
0  942   168   236
1  227  1690   406
2  272   273  2945

Classification Report:

              precision    recall  f1-score      support
0              0.653713  0.699851  0.675996  1346.000000
1              0.793055  0.727508  0.758868  2323.000000
2              0.821020  0.843840  0.832274  3490.000000
accuracy       0.779019  0.779019  0.779019     0.779019
macro avg      0.755929  0.757066  0.755713  7159.000000
weighted avg   0.780490  0.779019  0.779072  7159.000000

_____________________________________________________

SVC(random_state=18)

     0     1     2
0  895   131   320
1  171  1663   489
2  161   133  3196

Classification Report:

              precision    recall  f1-score      support
0              0.729421  0.664933  0.695686  1346.000000
1              0.862999  0.715885  0.782588  2323.000000
2              0.798002  0.915759  0.852835  3490.000000
accuracy       0.803744  0.803744  0.803744     0.803744
macro avg      0.796808  0.765526  0.777036  7159.000000
weighted avg   0.806199  0.803744  0.800495  7159.000000

_____________________________________________________

LogisticRegression(random_state=18)

     0     1     2
0  903   238   205
1  176  1921   226
2   50   111  3329

Classification Report:

              precision    recall  f1-score      support
0              0.799823  0.670877  0.729697  1346.000000
1              0.846256  0.826948  0.836490  2323.000000
2              0.885372  0.953868  0.918345  3490.000000
accuracy       0.859478  0.859478  0.859478     0.859478
macro avg      0.843817  0.817231  0.828177  7159.000000
weighted avg   0.856595  0.859478  0.856315  7159.000000

_____________________________________________________

GaussianNB()

      0     1     2
0  1129   142    75
1   142  2081   100
2    39    44  3407

Classification Report:

              precision    recall  f1-score      support
0              0.861832  0.838782  0.850151  1346.000000
1              0.917953  0.895824  0.906754  2323.000000
2              0.951145  0.976218  0.963518  3490.000000
accuracy       0.924291  0.924291  0.924291     0.924291
macro avg      0.910310  0.903608  0.906808  7159.000000
weighted avg   0.923582  0.924291  0.923784  7159.000000

_____________________________________________________

LinearDiscriminantAnalysis()

      0     1     2
0  1273    34    39
1    18  2171   134
2    36     3  3451

Classification Report:

              precision    recall  f1-score      support
0              0.959307  0.945765  0.952488  1346.000000
1              0.983243  0.934567  0.958287  2323.000000
2              0.952263  0.988825  0.970200  3490.000000
accuracy       0.963123  0.963123  0.963123     0.963123
macro avg      0.964937  0.956386  0.960325  7159.000000
weighted avg   0.963640  0.963123  0.963004  7159.000000

_____________________________________________________

DecisionTreeClassifier(random_state=18)

      0     1     2
0  1311    25    10
1    22  2292     9
2     9    14  3467

Classification Report:

              precision    recall  f1-score      support
0              0.976900  0.973997  0.975446  1346.000000
1              0.983269  0.986655  0.984959  2323.000000
2              0.994550  0.993410  0.993979  3490.000000
accuracy       0.987568  0.987568  0.987568     0.987568
macro avg      0.984906  0.984687  0.984795  7159.000000
weighted avg   0.987571  0.987568  0.987568  7159.000000

_____________________________________________________

RandomForestClassifier(random_state=18)

      0     1     2
0  1309    24    13
1    18  2285    20
2    11    12  3467

Classification Report:

              precision    recall  f1-score      support
0              0.978326  0.972511  0.975410  1346.000000
1              0.984489  0.983642  0.984065  2323.000000
2              0.990571  0.993410  0.991989  3490.000000
accuracy       0.986311  0.986311  0.986311     0.986311
macro avg      0.984462  0.983188  0.983821  7159.000000
weighted avg   0.986296  0.986311  0.986301  7159.000000

_____________________________________________________

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, gamma=None,
              gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, n_estimators=100, n_jobs=None,
              num_parallel_tree=None, predictor=None, random_state=18,
              reg_alpha=None, reg_lambda=None, ...)

      0     1     2
0  1318    17    11
1    11  2306     6
2     5    13  3472

Classification Report:

              precision    recall  f1-score    support
0              0.988006  0.979198  0.983582  1346.0000
1              0.987158  0.992682  0.989912  2323.0000
2              0.995128  0.994842  0.994985  3490.0000
accuracy       0.991200  0.991200  0.991200     0.9912
macro avg      0.990097  0.988907  0.989493  7159.0000
weighted avg   0.991202  0.991200  0.991195  7159.0000

_____________________________________________________

LGBMClassifier(random_state=18)

      0     1     2
0  1323    12    11
1    10  2306     7
2     7    13  3470

Classification Report:

              precision    recall  f1-score      support
0              0.987313  0.982912  0.985108  1346.000000
1              0.989275  0.992682  0.990976  2323.000000
2              0.994839  0.994269  0.994554  3490.000000
accuracy       0.991619  0.991619  0.991619     0.991619
macro avg      0.990476  0.989955  0.990213  7159.000000
weighted avg   0.991619  0.991619  0.991617  7159.000000

_____________________________________________________

AdaBoostClassifier(random_state=18)

      0     1     2
0  1298    35    13
1   126  2179    18
2    37    50  3403

Classification Report:

              precision    recall  f1-score      support
0              0.888433  0.964339  0.924831  1346.000000
1              0.962456  0.938011  0.950076  2323.000000
2              0.990973  0.975072  0.982958  3490.000000
accuracy       0.961028  0.961028  0.961028     0.961028
macro avg      0.947287  0.959141  0.952622  7159.000000
weighted avg   0.962440  0.961028  0.961359  7159.000000

_____________________________________________________

GradientBoostingClassifier(random_state=18)

      0     1     2
0  1317    17    12
1    12  2308     3
2     5    12  3473

Classification Report:

              precision    recall  f1-score      support
0              0.987256  0.978455  0.982836  1346.000000
1              0.987591  0.993543  0.990558  2323.000000
2              0.995700  0.995129  0.995414  3490.000000
accuracy       0.991479  0.991479  0.991479     0.991479
macro avg      0.990182  0.989042  0.989603  7159.000000
weighted avg   0.991481  0.991479  0.991473  7159.000000

_____________________________________________________


Os resultados mostram que todos os modelos têm um desempenho muito bom, com alta precisão, recall, F1-score e acurácia, inclusive para a classe minoritária, mesmo com as classes desbalanceadas. Assim, nota-se que o desbalanceamento não está impactando negativamente o desempenho do modelo, ou seja, não há necessidade imediata de fazer o balanceamento das classes. No entanto, é importante destacar que essas métricas muito otimistas podem ser devido à redundância nos dados, que se refere à presença de informações altamente discriminativas nos dados originais, ou seja, características que já estão fortemente associadas aos rótulos de cluster.

Nesse caso, ao realizar o modelo de classificação com base nos rótulos de cluster atribuídos pelo K-means, o desempenho do modelo de classificação pode ser otimista. Isso ocorre porque as informações necessárias para prever corretamente os rótulos de cluster já estão presentes nos próprios dados originais. O modelo de classificação pode simplesmente aprender a mapear essas informações diretamente, sem a necessidade de generalizar padrões ou relações mais complexas.

Portanto, é necessário ter cuidado ao interpretar os resultados do modelo de classificação nesses casos, especialmente em um cenário de aplicação real, pois quando essa redundância não está presente em novos dados, o modelo pode apresentar um desempenho inferior em termos de generalização e precisão.

Dito isso, tanto o XGBClassifier quanto o LGBMClassifier apresentam resultados muito semelhantes e consistentes em todas as métricas avaliadas. Portanto, esses dois modelos podem ser considerados como boas opções.

Vamos escolher o LGBMClassifier, porque ele apresenta um resultado ligeiramente melhor para a classe minoritária 0.

In [10]:
# Encontrar os melhores parâmetros com GridSearchCV
num_folds = 10
seed = 18
kfold = KFold(n_splits = num_folds, random_state = seed, shuffle=True)

# Criar o modelo LGBMClassifier
model = ltb.LGBMClassifier(random_state=18)

#GridSearchCV

param_grid = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.1, 0.05, 0.01],
    'max_depth': [3, 5, 7],
    'num_leaves': [31, 50, 100],
}

scoring = 'recall_weighted'
grind_ltb = GridSearchCV(model, param_grid = param_grid, cv = kfold, verbose=True, n_jobs=-1, scoring=scoring)
grind_ltb.fit(X_train, y_train)

# Avaliar o desempenho do modelo com os melhores parâmetros
best_model = grind_ltb.best_estimator_
predictions = best_model.predict(X_test)
recall = recall_score(y_test, predictions, average='weighted', zero_division=0)
print('\n')
print("Recall com os melhores parâmetros: ", recall)
print('\n')
print('Melhores parametros:', grind_ltb.best_params_)

Fitting 10 folds for each of 81 candidates, totalling 810 fits


Recall com os melhores parâmetros:  0.9927374301675977


Melhores parametros: {'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 300, 'num_leaves': 31}

In [11]:
# Treinar o modelo final com os melhores parâmetros usando todos os dados de treinamento
ltb = best_model.fit(X_train, y_train)

# Fazer previsões usando o modelo treinado
y_pred = best_model.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
cr = classification_report(y_test, y_pred)

print('Confusion Matrix:')
display(pd.DataFrame(cm, columns=['0', '1', '2'], index=['0', '1', '2']))
print('\n')
print('Classification Report:')
print('\n')
display(pd.DataFrame.from_dict(classification_report(y_test, y_pred, output_dict=True)).transpose())

Confusion Matrix:

     0    1    2
0  312    5    1
1    0  609    1
2    6    0  856

Classification Report:

              precision    recall  f1-score      support
0              0.981132  0.981132  0.981132   318.000000
1              0.991857  0.998361  0.995098   610.000000
2              0.997669  0.993039  0.995349   862.000000
accuracy       0.992737  0.992737  0.992737     0.992737
macro avg      0.990219  0.990844  0.990526  1790.000000
weighted avg   0.992750  0.992737  0.992738  1790.000000

In [12]:
# import joblib
from joblib import dump

# dump the pipeline model
dump(ltb, filename="classification_clusters.joblib")

['classification_clusters.joblib']